apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: todo-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000

          env:
            - name: MYSQL_HOST 
              value: "{{ .Release.Name }}-mysql-innodbcluster"
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              value: "{{ .Values.database.name }}"
            - name: MYSQL_USER
              # Pulling directly from the values to match the secret logic
              value: {{ .Values.mysqlinnodbcluster.credentials.root.user | quote }}
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secrets
                  key: root-password